@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --avocado-300: #e0e9cb;
  --green-500: #025b4b;
  --neutral-300: #e7eaeb;
  --neutral-400: #d4d8d9;
  --neutral-500: #a7aaab;
  --neutral-600: #737680;
  --neutral-900: #05090d;
  --ivy-300: #b3cec9;
}

body {
  margin: 0;
  font-family: 'Lora';
  background-color: #f5f7f7;
}

.font-poppins {
  font-family: 'Poppins';
}

.selected-page-colors {
  background-color: var(--avocado-300);
  border-color: var(--avocado-300) !important;
  color: var(--green-500);
}

.text-green-500 {
  color: var(--green-500);
}

.border-neutral-300 {
  border-color: var(--neutral-300);
}

.border-neutral-400 {
  border-color: var(--neutral-400);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.bg-neutral-400 {
  background-color: var(--neutral-400);
}

.bg-ivy-300 {
  background-color: var(--ivy-300);
}

.main-width {
  @apply w-2/3;
}

/* 
* Customizing the react date picker 
* This doesn't feel like the best way to style the calendar, but it's the best solution I came up with
*/
.react-datepicker {
  @apply text-sm;
}

.react-datepicker__day-names {
  @apply mb-3 flex justify-between text-xs uppercase text-neutral-500 w-full;
}

.react-datepicker__month {
  @apply w-full;
}

.react-datepicker__day--selected {
  @apply text-green-500 bg-ivy-300;
}

.react-datepicker__tab-loop {
  @apply absolute !important;
}

.react-datepicker__day-name {
  @apply w-9 text-center;
}

.react-datepicker__week {
  @apply flex justify-between;
}

.react-datepicker__day {
  @apply flex items-center justify-center m-1 h-10 w-10 cursor-pointer rounded-full;
}

.react-datepicker__day:hover {
  @apply bg-neutral-400;
}

.react-datepicker__day--outside-month {
  @apply text-neutral-500;
}

.react-datepicker__aria-live {
  @apply hidden;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1270px) {
  .main-width {
    @apply w-10/12;
  }
}

@media screen and (min-width: 1017px) {
  .input-left-border {
    @apply border-neutral-300 border-l pl-8;
  }
}

@media screen and (max-width: 1016px) {
  .main-width {
    @apply w-full;
  }

  .control-bar {
    @apply flex-col rounded-none;
  }

  .search-button {
    @apply w-full my-2;
  }
}

/* Loading spinner from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #e0e9cb;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e0e9cb transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
